.emotion {
  background-image: url(https://www.wallpaperflare.com/static/558/370/406/music-album-covers-cover-art-collage-wallpaper.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
}

.container {
  width: 100%;
  padding: 0 20px;
  max-width: 800px;
  margin: 0 auto;
}

.logo img {
  max-width: 300px;
  padding-top: 75px;
  margin: 0 auto;
  display: block;
}

form input[type="text"] {
  width: 100%;
  max-width: 500px;
  margin: 40px auto;
  padding: 12px 20px;
  font-size: inherit;
  border: 1px solid #ddd;
  border-radius: 24px;
  outline: 0 none;
  display: block;
}

.results {
  margin: 0;
  padding: 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.results li {
  list-style: none;
  display: flex;
  flex-direction: row;
  border: 1px solid #ddd;
  border-radius: 3px;
  overflow: hidden;
  margin: 20px;
  animation: fadein 2s;
}

.results li img {
  max-width: 180px;
  display: block;
}

.results li .right {
  padding: 10px 20px;
  width: 100%;
}

.results li .title {
  font-weight: bold;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.results li .details span {
  font-weight: bold;
}

.results li .right audio {
  width: 100%;
  margin-top: 10px;
  outline: 0 none;
}

.play {
  display: block;
  width: 0;
  height: 0;
  border-top: 11px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 19px solid #000000;
  position: relative;
  z-index: 1;
  transition: all 0.3s;
  left: 15px;
  cursor: pointer;
  margin: 20px 0;
}

.play:before {
  content: "";
  position: absolute;
  top: -24px;
  left: -37px;
  bottom: -27px;
  right: -14px;
  border-radius: 50%;
  border: 6px solid #000000;
  z-index: 2;
  transition: all 0.3s;
}
.play:after {
  content: "";
  opacity: 0;
  transition: opacity 0.6s;
}
.play:hover:before,
.play:focus:before {
  transform: scale(1.1);
}
.play.active {
  border-color: transparent;
}
.play.active:after {
  content: "";
  opacity: 1;
  width: 7px;
  height: 22px;
  position: absolute;
  right: 2px;
  top: -10px;
  border-right: 6px solid #000000;
  border-left: 6px solid #000000;
}
